@using MyCv.Models.Entity
@model List<Educations>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Education Index</h2>
<br />
<h2>Index Lists</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Subtitle 2</th>
        <th>GPA</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>

    <td>@item.ID</td>
    <td>@item.Title</td>
    <td>@item.Subtitle</td>
    <td>@item.Subtitle2</td>
    <td>@item.GPA</td>
    <td>@item.Date</td>
    <td><a href="/Education/DeleteEdu/@item.ID" class="btn btn-danger">Delete</a></td>
    <td><a href="/Education/EditEdu/@item.ID" class="btn btn-warning">Edit</a></td>

</tr>
    }
</table>
<a href="/Education/AddEducation" class="btn btn-primary">Add New Education</a>


